- return if post["message"].blank?
%blockquote
  %p= post["message"].truncate(500)
  %footer
    #{post["from"]["name"]} on #{l Date.parse(post["created_time"])}
    = "at #{post["place"]["location"]["city"]}" if post["place"]
