.row
  .col-md-12
    %h1.text-center Hey, what did you say?
    .row
      .col-md-6.col-md-offset-3
        = form_tag root_path, method: :get do
          .form-group= text_field_tag :q, params[:q], class: 'form-control input-lg', placeholder: 'Enter your words here...'
          .form-group
            = date_field_tag :since, params[:since], class: 'form-control'
          .form-group
            = date_field_tag :until, params[:until], class: 'form-control'
          = button_tag 'I said that!', class: 'btn btn-primary btn-block', value: 'submit'
.row
  .col-md-12
    - if @results && @results.size > 0
      %h3 Seems like others are talking about that too!
      = render partial: 'search/post', collection: @results
    - elsif @results
      %h4.text-center There's nothing but silence!
