!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', http: { equiv: 'X-UA-Compatible'}}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %meta{content: 'The next big thing!', name: 'description'}
    %meta{content: 'Jefferson Venerando', name: 'author'}
    %title What did you say?
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    .navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{data: { target: '.navbar-collapse', toggle: 'collapse'}, type: 'button'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: '/'} What did you say?
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{href: '#'} Home
        / /.nav-collapse
    .container
      - flash.each do |name, msg|
        - if msg.is_a? String
          .alert.fade.in.block-inner.mt25.main-flash-alert{class: "alert-#{name}"}
            %button{class: 'close', type: 'button', data: { dismiss: 'alert'} } ×
            = msg
      = yield
    //.container
